.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
azure_mobile_services/src/main/res/values/mobile_services.xml
.idea/
*.iml
gradle.properties
gradle/wrapper/gradle-wrapper.properties
