<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="viinceent.meeyeer.gmail.com.android_mobile_services" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".StorageApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TablesActivity"
            android:label="@string/title_activity_tables"
            android:parentActivityName=".MainActivity" >
            <intent-filter>
                <action android:name="tables.loaded" >
                </action>
            </intent-filter>
        </activity>
        <activity
            android:name=".TableRowsActivity"
            android:parentActivityName=".TablesActivity" >
            <intent-filter>
                <action android:name="tablerows.loaded" >
                </action>
            </intent-filter>
        </activity>
        <activity
            android:name=".EditTableRowActivity"
            android:label="@string/title_activity_new_table_row"
            android:parentActivityName=".TableRowsActivity" >
        </activity>
        <activity
            android:name=".ContainersActivity"
            android:label="@string/title_activity_containers"
            android:parentActivityName=".MainActivity" >
            <intent-filter>
                <action android:name="containers.loaded" >
                </action>
            </intent-filter>
        </activity>
        <activity
            android:name=".BlobsActivity"
            android:label="@string/title_activity_blobs"
            android:parentActivityName=".ContainersActivity" >
            <intent-filter>
                <action android:name="blobs.loaded" >
                </action>
                <action android:name="blob.created" >
                </action>
            </intent-filter>
        </activity>
        <activity
            android:name=".BlobDetailsActivity"
            android:label="@string/title_activity_blob_details"
            android:parentActivityName=".BlobsActivity" >
            <intent-filter>
                <action android:name="blob.loaded" >
                </action>
            </intent-filter>
        </activity>
        <activity
            android:name=".DummyActivity"
            android:label="@string/title_activity_dummy" >
        </activity>
        <activity
            android:name=".TestActivityWithFragment"
            android:label="@string/title_activity_test_activity_with_fragment" >
        </activity>
    </application>

</manifest>
